version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'saturday'
    auto-merge:
      strategy: merge
      allowed:
        - update-type: version-update:semver-patch
